
      <div class = "sidenavbar">
        <div class="row row-title">
            
            <div class="col s8">
                <p>Navigation</p>
            </div>
            <div class="col s4 back-button">
                <span class="back">
                    <i class="material-icons back-icon">keyboard_arrow_left</i>
                </span>
            </div>
        
        </div>
        <div class="row row-line-header">
            <div class="col s12">
                <hr>
            </div>
        </div>

        <!-- Tree View -->
            <div class="row row-tree-menu">
                <div class="col s12">
                    <ol class="tree">
                        <li id="li-jakarta">                        
                            <input type="checkbox" class="check-with-label" id="menu-1" />
                            <label for="menu-1" class="location-container-new" id = "jakarta">
                                <i class="material-icons expand-icon-new">keyboard_arrow_down</i>
                                <span>Jakarta</span>
                            </label>
                            

                            <ol class="col-level-1">
                                <li>
                                    <input type="checkbox" id="menu-1-1" />
                                    <label for="menu-1-1" class="location-container-new1">
                                        <i class="material-icons expand-icon-new1" >keyboard_arrow_down</i>
                                        <span>Banten</span>
                                    </label>
                                    

                                    <ol class="col-level-2">
                                        <li>
                                            <input type="checkbox" id="menu-1-1-1" />
                                            <label for="menu-1-1-1" class="location-container-new2">
                                                <i class="material-icons expand-icon-new2">keyboard_arrow_down</i>
                                                <span>Tangerang</span>
                                            </label>
                                            

                                            <ol class="col-level-3">
                                                <li>
                                                    <input type="checkbox" id="menu-1-1-1-1" />
                                                    <label for="menu-1-1-1-1" class="location-container-new3">
                                                        <i class="material-icons expand-icon-new3" >keyboard_arrow_down</i>
                                                        <span>Urban Kota</span>
                                                    </label>
                                                    

                                                    <ol class="col-level-4">
                                                        <li>
                                                            <input type="checkbox" id="menu-1-1-1-1-1" />
                                                            <label for="menu-1-1-1-1-1" class="location-container-new4">
                                                                <i class="material-icons expand-icon-new4">keyboard_arrow_down</i>
                                                                <span>Karawaci</span>
                                                            </label>
                                                            
                                                        
                                                            <ol clas="col-level-5">
                                                                <li>
                                                                    <input type="checkbox" id="menu-1-1-1-1-1-1" />
                                                                    <label for="menu-1-1-1-1-1-1" class="location-container-new5">                                                                        
                                                                        <span>Cimone</span>
                                                                    </label>
                                                                                                                                                                          
                                                                </li>                                                 
                                                            </ol>                                                                                 
                                                        </li>                                                 
                                                    </ol>
                                                </li>                                                                         
                                            </ol>
                                        </li>                                       
                                    </ol> 
                                </li>
                            </ol>                        
                        </ol>         
                </div>
            </div>
            <div class="row" style="margin-bottom:0%!important" >
                <div class="col s12">
                    <hr style="margin-top:0%!important;margin-bottom:0%!important">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row row-tree-menu">
                        <div class="col s12">
                            <ol class="tree">
                                <li>                    
                                    <input type="checkbox" id="menu-2" />    
                                    <label for="menu-2" class="location-container-new" >
                                        <i class="material-icons expand-icon-new" >keyboard_arrow_down</i>
                                        <span>Bandung</span>
                                    </label>
                                    
        
                                    <ol class="col-level-1">
                                        <li>
                                            <input type="checkbox" id="menu-2-2" />
                                            <label for="menu-2-2" class="location-container-new1">
                                                <i class="material-icons expand-icon-new1" >keyboard_arrow_down</i>
                                                <span>Banten</span>
                                            </label>
                                            
        
                                            <ol class="col-level-2">
                                                <li>
                                                    <input type="checkbox" id="menu-2-2-2"/>
                                                    <label for="menu-2-2-2" class="location-container-new2">
                                                        <i class="material-icons expand-icon-new2">keyboard_arrow_down</i>
                                                        <span>Tangerang</span>
                                                    </label>
                                                    
        
                                                    <ol class="col-level-3">
                                                        <li>
                                                            <input type="checkbox" id="menu-2-2-2-2" />
                                                            <label for="menu-2-2-2-2" class="location-container-new3">
                                                                <i class="material-icons expand-icon-new3" >keyboard_arrow_down</i>
                                                                <span>Urban Kota</span>
                                                            </label>
                                                            
        
                                                            <ol class="col-level-4">
                                                                <li>
                                                                    <input type="checkbox" id="menu-2-2-2-2-2" />
                                                                    <label for="menu-2-2-2-2-2" class="location-container-new4">
                                                                        <i class="material-icons expand-icon-new4">keyboard_arrow_down</i>
                                                                        <span>Karawaci</span>
                                                                    </label>
                                                                    
                                                                
                                                                    <ol clas="col-level-5">
                                                                        <li>
                                                                            <input type="checkbox" id="menu-2-2-2-2-2-2" />   
                                                                            <label for="menu-2-2-2-2-2-2" class="location-container-new5">                                                                        
                                                                                <span>Cimone</span>
                                                                            </label>                                                                                                                                                                               
                                                                        </li>                                                 
                                                                    </ol>                                                                                 
                                                                </li>                                                 
                                                            </ol>
                                                        </li>                                                                         
                                                    </ol>
                                                </li>                                       
                                            </ol> 
                                        </li>
                                    </ol>                        
                                </ol>         
                        </div>
                    </div>
                </div>
            </div>  
        </div>

