  <div class="modal confirmation-dialog" id="confirmation" #confirmation > 
    <div class="container">
      <div class="row row-circle-icon">
        <div class="col s12">
          <div class="circle-confirmation">
            <span id="exclamation">?</span>
          </div>
        </div>
      </div>
      
      <div class="row row-text">
        <div class="col s12">
          <p class="font-section-confirmation">Confirmation</p>
        </div>
      </div>
      <div class="row row-message">
        <div class="col s12" style="padding-left:0%!important;padding-right:0%!important">
          <p class="confirmation-text">You won't be able to revert this</p>
        </div>
      </div>
      <div class="row row-message">
        <div class="col s6 col-buttons">
          <a class="modal-close waves-effect waves-light btn" id="cancel">No</a>
        </div>
        <div class="col s6 col-buttons1">
          <a class="waves-effect waves-light btn modal-trigger modal-close" data-target="success" data-dismiss="modal" id="confirm">Yes</a>
        </div>
      </div>
    </div>
  </div>
