    

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    html,
    body {
      height: 100%;
    }
    
    .padding-navigation {
        padding-left:0px;
        padding-right:0px;
        background-color:black;
        width:15%;    
    }
    .sidenavbar{
        background-color:#16233C;
        position:fixed;
        height:100%;
        width:64%!important;
    }
    .sidenavbar #myMenu {
        list-style-type: none;
        padding-top:15px;
        padding-left: 15px;
        margin: 0;
    }
    #myMenu li a {
        padding: 10px;
        text-decoration: none;
        font-size:14px;
        color:white;
        display: inline-block;
        font-family: "Poppins-regular";
        width:100%;
    }
    #icontest {
        color:white; 
        margin-top:1%!important;
    }
    #icon-nav{
        font-size:18px;
        margin-right:5%;
    }
    .form-search-icon { 
        position: relative;
        margin-bottom:4%;
        margin-left:6%;
        margin-right:6%; 
        margin-top:2%;
    } 
    .form-search-icon i{ 
        position: absolute; 
        left: 83%!important; 
        top: 28%!important; 
        color: #768198; 
        font-size:23px;
    
    }
    input[type=text] {
        background-color: #2D384F;
        color: white;
        width: 94%;
        height:40px;
        border-radius: 7px;
        padding-top:1px;
        padding-left:5%;
        border-bottom:none!important;
        font-family: "Poppins-regular";
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 0%!important;
        display: inline-block;  
    }
    .sidenavbar p{
        font-family:"Poppins-Medium";
        font-size:16px;
        color:#FFFFFF;
        padding-left:10%;
        padding-top:10%;
        margin-bottom:8%;
    }
    .sidenavbar .back-button{
        padding-top:10%;
        padding-right:10%;
        text-align: right;
        cursor:pointer;
    }
    .sidenavbar .back{
        height: 30px;
        width: 30px;
        background-color: #2D384F;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #2D384F;
    }
    .back .back-icon{
        font-size:23px;
        color:#ffffff;
    }
    .sidenavbar .row-line-header{
        margin-bottom:0%;
    }
    .sidenavbar hr{
        width:85%;
        background-color:#A4AAB6;
        opacity:0.6;
    }
    .sidenavbar .row-title{
        margin-bottom:0%;
    }
    .sidenavbar .row-tree-menu{
        margin-bottom: 0%!important;
    }
    
    .row-tree-menu .col-level-1{
        padding-left:13%!important;
    }
    .row-tree-menu .col-level-2{
        padding-left:15%!important;
    }
    .row-tree-menu .col-level-3{
        padding-left:17%!important;
    }
    .row-tree-menu .col-level-4{
        padding-left:20%!important;
    }
    .row-tree-menu .col-level-5{
        padding-left:20%!important;
    }
    
    #navigation{
        display:inline-block;
        width:100%;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    #navigation span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    #navigation .icon{
        float: right;
        font-size:23px;
        color:white;    
    }
    #navigation .left{
        float: left;
        font-size:23px;
        color:white;    
    }
    
    /* Hierarki 1 */
    
    #li-jakarta:focus{
        background-color:blue;
    }
    
    .sidenavbar .location-container-new{
        display:inline-block;
        background-color: #2D384F;
        width:92%;
        border-radius: 5px;
        margin-right:0%!important;
        padding:4%!important;
    }
    .location-container-new span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    .location-container-new .expand-icon-new{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    
    /*Hierarki 2 */ 
    
    .location-container-new1{
        display:inline-block;
        background-color: #2D384F;
        width:91%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:4%!important;
    }
    .location-container-new1 span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        padding-left:3%;
    }
    .location-container-new1 .expand-icon-new1{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 3 */
    
    .location-container-new2{
        display:inline-block;
        background-color: #2D384F;
        width:90%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:4%!important;
    }
    .location-container-new2 span{
        width:82%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:10%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new2 .expand-icon-new2{
        float: right;
        font-size:23px;
        color:#768198;   
        padding-left:13%; 
    }
    
    /* Hierarki 4 */
    
    .location-container-new3{
        display:inline-block;
        background-color: #2D384F;
        width:88%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:5%!important;
        
    }
    .location-container-new3 span{
        width:80%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:13%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new3 .expand-icon-new3{
        float:right;
        font-size:23px;
        color:#768198;   
        padding-left:20%!important;  
    }
    
    /* Hierarki 5 */
    
    .location-container-new4{
        display:inline-block;
        background-color: #2D384F;
        width:86%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new4 span{
        width:76%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new4 .expand-icon-new4{
        float: right;
        font-size:23px;
        color:#768198;    
        padding-right:0%;  
    }
    
    /* Hierarki 6 */
    
    .location-container-new5{
        display:inline-block;
        background-color: #2D384F;
        width:84%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new5 span{
        width:74%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    
    .check-with-label:checked + label {
        color: yellow!important;
      }
    
      input[type=checkbox]:checked {
        color: #f00!important;
      } 
    
    input[type="checkbox"]:checked+label{
      background-color:#2A3E66;
    }
    
    
    
    /* Navigation Tree */
    
    
    input{
        font-size:1em;
    }
    ol.tree{
        padding-left:30px;
    }
    li{
        list-style-type:none;
        color:#fff;
        position:relative;
        margin-left:-15px;
    }
    li label{
        /* padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block; */
    }
    li input{
        width:1em;
        height:1em;
        position:absolute;
        left:-0.5em;
        top:0;
        opacity:0;
        cursor:pointer;
        
    }
    li input + ol{
        /* height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0; */
        
    }
    li input + label + ol > li{
        display:none;margin-left:-14px !important;padding-left:1px;
    }
    li.file{
        margin-left:-1px !important;
    }
    li.file a{
        /* display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0; */
    }
    li input:checked + ol{
        /* height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px; */
        
    }
    li input:checked + label + ol > li{
        display:block;margin:0 0 0.063em;
        
    }
    
    li input:checked + label > i {
        color:#6EB6FF;
    }
    
    
    li input:checked + label + ol > li:first-child{
        margin:0 0 0.125em;
    }
}

/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html,
    body {
      height: 100%;
    }
    .padding-navigation {
        padding-left:0px;
        padding-right:0px;
        background-color:black;
        width:15%;    
    }
    .sidenavbar{
        background-color:#16233C;
        position:fixed;
        height:100%;
        width:44%!important;
    }
      .sidenavbar #myMenu {
        list-style-type: none;
        padding-top:15px;
        padding-left: 15px;
        margin: 0;
      }
      #myMenu li a {
        padding: 10px;
        text-decoration: none;
        font-size:14px;
        color:white;
        display: inline-block;
        font-family: "Poppins-regular";
        width:100%;
      }
      .form-search-icon { 
        position: relative;
        margin-bottom:4%;
        margin-left:6%;
        margin-right:6%; 
        margin-top:2%;
    } 
    .form-search-icon i{ 
        position: absolute; 
        left: 83%!important; 
        top: 28%!important; 
        color: #768198; 
        font-size:23px;
    
    }
    input[type=text] {
        background-color: #2D384F;
        color: white;
        width: 94%;
        height:40px;
        border-radius: 7px;
        padding-top:1px;
        padding-left:5%;
        border-bottom:none!important;
        font-family: "Poppins-regular";
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 0%!important;
        display: inline-block;  
    }
      #icontest {
        color:white; 
        margin-top:1%!important;
      }
      #icon-nav{
        font-size:18px;
        margin-right:5%;
      }
    .sidenavbar p{
        font-family:"Poppins-Medium";
        font-size:16px;
        color:#FFFFFF;
        padding-left:10%;
        padding-top:10%;
        margin-bottom:8%;
    }
    .sidenavbar .back-button{
        padding-top:10%;
        padding-right:10%;
        text-align: right;
        cursor:pointer;
    }
    .sidenavbar .back{
        height: 30px;
        width: 30px;
        background-color: #2D384F;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #2D384F;
    }
    .back .back-icon{
        font-size:23px;
        color:#ffffff;
    }
    .sidenavbar .row-line-header{
        margin-bottom:0%;
    }
    .sidenavbar hr{
        width:85%;
        background-color:#A4AAB6;
        opacity:0.6;
    }
    .sidenavbar .row-title{
        margin-bottom:0%;
    }
    .sidenavbar .row-tree-menu{
        margin-bottom: 0%!important;
    }
    
    .row-tree-menu .col-level-1{
        padding-left:13%!important;
    }
    .row-tree-menu .col-level-2{
        padding-left:15%!important;
    }
    .row-tree-menu .col-level-3{
        padding-left:17%!important;
    }
    .row-tree-menu .col-level-4{
        padding-left:20%!important;
    }
    .row-tree-menu .col-level-5{
        padding-left:20%!important;
    }
    
    #navigation{
        display:inline-block;
        width:100%;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    #navigation span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    #navigation .icon{
        float: right;
        font-size:23px;
        color:white;    
    }
    #navigation .left{
        float: left;
        font-size:23px;
        color:white;    
    }
    
    /* Hierarki 1 */
    
    #li-jakarta:focus{
        background-color:blue;
    }
    
    .sidenavbar .location-container-new{
        display:inline-block;
        background-color: #2D384F;
        width:92%;
        border-radius: 5px;
        margin-right:0%!important;
        padding:4%!important;
    }
    .location-container-new span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    .location-container-new .expand-icon-new{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    
    /*Hierarki 2 */ 
    
    .location-container-new1{
        display:inline-block;
        background-color: #2D384F;
        width:91%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:4%!important;
    }
    .location-container-new1 span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        padding-left:3%;
    }
    .location-container-new1 .expand-icon-new1{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 3 */
    
    .location-container-new2{
        display:inline-block;
        background-color: #2D384F;
        width:90%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:5%!important;
    }
    .location-container-new2 span{
        width:82%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:10%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new2 .expand-icon-new2{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 4 */
    
    .location-container-new3{
        display:inline-block;
        background-color: #2D384F;
        width:88%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:5%!important;
        
    }
    .location-container-new3 span{
        width:77%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:13%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new3 .expand-icon-new3{
        float:right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 5 */
    
    .location-container-new4{
        display:inline-block;
        background-color: #2D384F;
        width:86%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new4 span{
        width:76%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new4 .expand-icon-new4{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 6 */
    
    .location-container-new5{
        display:inline-block;
        background-color: #2D384F;
        width:84%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new5 span{
        width:74%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    
    .check-with-label:checked + label {
        color: yellow!important;
      }
    
      input[type=checkbox]:checked {
        color: #f00!important;
      } 
    input[type="checkbox"]:checked+label{
      background-color:#2A3E66;
    }
    /* Navigation Tree */
    input{
        font-size:1em;
    }
    ol.tree{
        padding-left:30px;
    }
    li{
        list-style-type:none;
        color:#fff;
        position:relative;
        margin-left:-15px;
    }
    li label{
        /* padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block; */
    }
    li input{
        width:1em;
        height:1em;
        position:absolute;
        left:-0.5em;
        top:0;
        opacity:0;
        cursor:pointer;
        
    }
    li input + ol{
        /* height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0; */
        
    }
    li input + label + ol > li{
        display:none;margin-left:-14px !important;padding-left:1px;
    }
    li.file{
        margin-left:-1px !important;
    }
    li.file a{
        /* display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0; */
    }
    li input:checked + ol{
        /* height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px; */
        
    }
    li input:checked + label + ol > li{
        display:block;margin:0 0 0.063em;
        
    }
    
    li input:checked + label > i {
        color:#6EB6FF;
    }
    
    
    li input:checked + label + ol > li:first-child{
        margin:0 0 0.125em;
    }
}

/* Extra small devices (phones, 768px and up) */
@media only screen and (min-width: 768px) {
    html,
    body {
      height: 100%;
    }
    .padding-navigation {
        padding-left:0px;
        padding-right:0px;
        background-color:black;
        width:15%;    
    }
    .sidenavbar{
        background-color:#16233C;
        position:fixed;
        height:100%;
        width:34%!important;
    }
      .sidenavbar #myMenu {
        list-style-type: none;
        padding-top:15px;
        padding-left: 15px;
        margin: 0;
      }
      #myMenu li a {
        padding: 10px;
        text-decoration: none;
        font-size:14px;
        color:white;
        display: inline-block;
        font-family: "Poppins-regular";
        width:100%;
      }
      #icontest {
        color:white; 
        margin-top:1%!important;
      }
      #icon-nav{
        font-size:18px;
        margin-right:5%;
      }
      .form-search-icon { 
        position: relative;
        margin-bottom:4%;
        margin-left:6%;
        margin-right:6%; 
        margin-top:2%;
    } 
    .form-search-icon i{ 
        position: absolute; 
        left: 83%!important; 
        top: 28%!important; 
        color: #768198; 
        font-size:23px;
    
    }
    input[type=text] {
        background-color: #2D384F;
        color: white;
        width: 94%;
        height:40px;
        border-radius: 7px;
        padding-top:1px;
        padding-left:5%;
        border-bottom:none!important;
        font-family: "Poppins-regular";
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 0%!important;
        display: inline-block;  
    }
    .sidenavbar p{
        font-family:"Poppins-Medium";
        font-size:16px;
        color:#FFFFFF;
        padding-left:10%;
        padding-top:10%;
        margin-bottom:8%;
    }
    .sidenavbar .back-button{
        padding-top:10%;
        padding-right:10%;
        text-align: right;
        cursor:pointer;
    }
    .sidenavbar .back{
        height: 30px;
        width: 30px;
        background-color: #2D384F;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #2D384F;
    }
    .back .back-icon{
        font-size:23px;
        color:#ffffff;
    }
    .sidenavbar .row-line-header{
        margin-bottom:0%;
    }
    .sidenavbar hr{
        width:85%;
        background-color:#A4AAB6;
        opacity:0.6;
    }
    .sidenavbar .row-title{
        margin-bottom:0%;
    }
    .sidenavbar .row-tree-menu{
        margin-bottom: 0%!important;
    }
    
    .row-tree-menu .col-level-1{
        padding-left:13%!important;
    }
    .row-tree-menu .col-level-2{
        padding-left:15%!important;
    }
    .row-tree-menu .col-level-3{
        padding-left:17%!important;
    }
    .row-tree-menu .col-level-4{
        padding-left:20%!important;
    }
    .row-tree-menu .col-level-5{
        padding-left:20%!important;
    }
    
    #navigation{
        display:inline-block;
        width:100%;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    #navigation span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    #navigation .icon{
        float: right;
        font-size:23px;
        color:white;    
    }
    #navigation .left{
        float: left;
        font-size:23px;
        color:white;    
    }
    
    /* Hierarki 1 */
    
    #li-jakarta:focus{
        background-color:blue;
    }
    
    .sidenavbar .location-container-new{
        display:inline-block;
        background-color: #2D384F;
        width:92%;
        border-radius: 5px;
        margin-right:0%!important;
        padding:4%!important;
    }
    .location-container-new span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    .location-container-new .expand-icon-new{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    
    /*Hierarki 2 */ 
    
    .location-container-new1{
        display:inline-block;
        background-color: #2D384F;
        width:91%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:4%!important;
    }
    .location-container-new1 span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        padding-left:3%;
    }
    .location-container-new1 .expand-icon-new1{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 3 */
    
    .location-container-new2{
        display:inline-block;
        background-color: #2D384F;
        width:89%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:5%!important;
    }
    .location-container-new2 span{
        width:82%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:10%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new2 .expand-icon-new2{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 4 */
    
    .location-container-new3{
        display:inline-block;
        background-color: #2D384F;
        width:88%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:7%!important;
        
    }
    .location-container-new3 span{
        width:77%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:13%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new3 .expand-icon-new3{
        float:right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 5 */
    
    .location-container-new4{
        display:inline-block;
        background-color: #2D384F;
        width:87%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new4 span{
        width:76%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new4 .expand-icon-new4{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 6 */
    
    .location-container-new5{
        display:inline-block;
        background-color: #2D384F;
        width:84%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new5 span{
        width:74%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    
    .check-with-label:checked + label {
        color: yellow!important;
      }
    
      input[type=checkbox]:checked {
        color: #f00!important;
      } 
    
    
    
    
    
    
    
    
    
    input[type="checkbox"]:checked+label{
      background-color:#2A3E66;
    }
    
    
    
    /* Navigation Tree */
    
    
    input{
        font-size:1em;
    }
    ol.tree{
        padding-left:30px;
    }
    li{
        list-style-type:none;
        color:#fff;
        position:relative;
        margin-left:-15px;
    }
    li label{
        /* padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block; */
    }
    li input{
        width:1em;
        height:1em;
        position:absolute;
        left:-0.5em;
        top:0;
        opacity:0;
        cursor:pointer;
        
    }
    li input + ol{
        /* height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0; */
        
    }
    li input + label + ol > li{
        display:none;margin-left:-14px !important;padding-left:1px;
    }
    li.file{
        margin-left:-1px !important;
    }
    li.file a{
        /* display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0; */
    }
    li input:checked + ol{
        /* height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px; */
        
    }
    li input:checked + label + ol > li{
        display:block;margin:0 0 0.063em;
        
    }
    
    li input:checked + label > i {
        color:#6EB6FF;
    }
    
    
    li input:checked + label + ol > li:first-child{
        margin:0 0 0.125em;
    }
}

/* Extra small devices (phones, 992px and up) */
@media only screen and (min-width: 992px) {
    html,
    body {
      height: 100%;
    }
    .padding-navigation {
        padding-left:0px;
        padding-right:0px;
        background-color:black;
        width:15%;    
    }
    .sidenavbar{
        background-color:#16233C;
        position:fixed;
        height:100%;
        width:27%!important;
    }
      .sidenavbar #myMenu {
        list-style-type: none;
        padding-top:15px;
        padding-left: 15px;
        margin: 0;
      }
      #myMenu li a {
        padding: 10px;
        text-decoration: none;
        font-size:14px;
        color:white;
        display: inline-block;
        font-family: "Poppins-regular";
        width:100%;
      }
      .form-search-icon { 
        position: relative;
        margin-bottom:4%;
        margin-left:6%;
        margin-right:6%; 
        margin-top:2%;
    } 
    .form-search-icon i{ 
        position: absolute; 
        left: 83%!important; 
        top: 28%!important; 
        color: #768198; 
        font-size:23px;
    
    }
    input[type=text] {
        background-color: #2D384F;
        color: white;
        width: 94%;
        height:40px;
        border-radius: 7px;
        padding-top:1px;
        padding-left:5%;
        border-bottom:none!important;
        font-family: "Poppins-regular";
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 0%!important;
        display: inline-block;  
    }
      #icontest {
        color:white; 
        margin-top:1%!important;
      }
      #icon-nav{
        font-size:18px;
        margin-right:5%;
      }
    .sidenavbar p{
        font-family:"Poppins-Medium";
        font-size:16px;
        color:#FFFFFF;
        padding-left:10%;
        padding-top:10%;
        margin-bottom:8%;
    }
    .sidenavbar .back-button{
        padding-top:10%;
        padding-right:10%;
        text-align: right;
        cursor:pointer;
    }
    .sidenavbar .back{
        height: 30px;
        width: 30px;
        background-color: #2D384F;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #2D384F;
    }
    .back .back-icon{
        font-size:23px;
        color:#ffffff;
    }
    .sidenavbar .row-line-header{
        margin-bottom:0%;
    }
    .sidenavbar hr{
        width:85%;
        background-color:#A4AAB6;
        opacity:0.6;
    }
    .sidenavbar .row-title{
        margin-bottom:0%;
    }
    .sidenavbar .row-tree-menu{
        margin-bottom: 0%!important;
    }
    
    .row-tree-menu .col-level-1{
        padding-left:13%!important;
    }
    .row-tree-menu .col-level-2{
        padding-left:15%!important;
    }
    .row-tree-menu .col-level-3{
        padding-left:17%!important;
    }
    .row-tree-menu .col-level-4{
        padding-left:20%!important;
    }
    .row-tree-menu .col-level-5{
        padding-left:20%!important;
    }
    
    #navigation{
        display:inline-block;
        width:100%;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    #navigation span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    #navigation .icon{
        float: right;
        font-size:23px;
        color:white;    
    }
    #navigation .left{
        float: left;
        font-size:23px;
        color:white;    
    }
    
    /* Hierarki 1 */
    
    #li-jakarta:focus{
        background-color:blue;
    }
    
    .sidenavbar .location-container-new{
        display:inline-block;
        background-color: #2D384F;
        width:92%;
        border-radius: 5px;
        margin-right:0%!important;
        padding:4%!important;
    }
    .location-container-new span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    .location-container-new .expand-icon-new{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    
    /*Hierarki 2 */ 
    
    .location-container-new1{
        display:inline-block;
        background-color: #2D384F;
        width:91%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:4%!important;
        padding:4%!important;
    }
    .location-container-new1 span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        padding-left:3%;
    }
    .location-container-new1 .expand-icon-new1{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 3 */
    
    .location-container-new2{
        display:inline-block;
        background-color: #2D384F;
        width:90%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:5%!important;
    }
    .location-container-new2 span{
        width:82%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:10%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new2 .expand-icon-new2{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 4 */
    
    .location-container-new3{
        display:inline-block;
        background-color: #2D384F;
        width:88%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new3 span{
        width:77%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:13%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new3 .expand-icon-new3{
        float:right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 5 */
    
    .location-container-new4{
        display:inline-block;
        background-color: #2D384F;
        width:86%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new4 span{
        width:76%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new4 .expand-icon-new4{
        float: right;
        font-size:23px;
        color:#768198;    
    }
    
    /* Hierarki 6 */
    
    .location-container-new5{
        display:inline-block;
        background-color: #2D384F;
        width:84%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        
    }
    .location-container-new5 span{
        width:74%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    
    .check-with-label:checked + label {
        color: yellow!important;
      }
    
      input[type=checkbox]:checked {
        color: #f00!important;
      } 
    
    
    
    
    
    
    
    
    
    input[type="checkbox"]:checked+label{
      background-color:#2A3E66;
    }
    
    
    
    /* Navigation Tree */
    
    
    input{
        font-size:1em;
    }
    ol.tree{
        padding-left:30px;
    }
    li{
        list-style-type:none;
        color:#fff;
        position:relative;
        margin-left:-15px;
    }
    li label{
        /* padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block; */
    }
    li input{
        width:1em;
        height:1em;
        position:absolute;
        left:-0.5em;
        top:0;
        opacity:0;
        cursor:pointer;
        
    }
    li input + ol{
        /* height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0; */
        
    }
    li input + label + ol > li{
        display:none;margin-left:-14px !important;padding-left:1px;
    }
    li.file{
        margin-left:-1px !important;
    }
    li.file a{
        /* display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0; */
    }
    li input:checked + ol{
        /* height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px; */
        
    }
    li input:checked + label + ol > li{
        display:block;margin:0 0 0.063em;
        
    }
    
    li input:checked + label > i {
        color:#6EB6FF;
    }
    
    
    li input:checked + label + ol > li:first-child{
        margin:0 0 0.125em;
    }
}



/* Extra small devices (phones, 1200px and up) */
@media only screen and (min-width: 1200px) {
    html,
    body {
    height: 100%;
    }
    #menu-nav{
        background-color:transparent!important;
    }
    #menu-nav:hover{
        background-color: #2D384F!important;
        width:100%;
        border-radius: 5px;
        padding:1%!important;
    }
    .padding-navigation {
        padding-left:0px;
        padding-right:0px;
        background-color:black;
        width:15%!important;    
    }
    .sidenavbar{
        background-color:#16233C;
        position:fixed;
        height:100%;
        width:15%!important;
    }
    .sidenavbar #myMenu {
        list-style-type: none;
        padding-top:15px;
        padding-left: 15px;
        margin: 0;
    }
    #myMenu li a {
        padding: 10px;
        text-decoration: none;
        font-size:14px;
        color:white;
        display: inline-block;
        font-family: "Poppins-regular";
        width:100%;
    }
    .form-search-icon { 
        position: relative;
        margin-bottom:4%;
        margin-left:6%;
        margin-right:6%; 
        margin-top:2%;
      } 
      .form-search-icon i{ 
        position: absolute; 
        left: 83%!important; 
        top: 28%!important; 
        color: #768198; 
        font-size:23px;
        
      }
      input[type=text] {
        background-color: #2D384F;
        color: white;
        width: 94%;
        height:40px;
        border-radius: 7px;
        padding-top:1px;
        padding-left:5%;
        border-bottom:none!important;
        font-family: "Poppins-regular";
        font-size: 14px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
        margin-bottom: 0%!important;
        display: inline-block;  
      }
    #icontest {
        color:white; 
        margin-top:1%!important;
    }
    #icon-nav{
        font-size:18px;
        margin-right:5%;
    }
    .sidenavbar p{
        font-family:"Poppins-Medium";
        font-size:16px;
        color:#FFFFFF;
        padding-left:10%;
        padding-top:10%;
        margin-bottom:8%;
    }
    .sidenavbar .back-button{
        padding-top:10%;
        padding-right:10%;
        text-align: right;
        cursor:pointer;
    }
    .sidenavbar .back{
        height: 30px;
        width: 30px;
        background-color: #2D384F;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #2D384F;
    }
    .back .back-icon{
        font-size:23px;
        color:#ffffff;
    }
    .sidenavbar .row-line-header{
        margin-bottom:0%;
    }
    .sidenavbar hr{
        width:85%;
        background-color:#A4AAB6;
        opacity:0.6;
    }
    .sidenavbar .row-title{
        margin-bottom:0%;
    }
    .sidenavbar .row-tree-menu{
        margin-bottom: 0%!important;
    }

    .row-tree-menu .col-level-1{
        padding-left:13%!important;
    }
    .row-tree-menu .col-level-2{
        padding-left:15%!important;
    }
    .row-tree-menu .col-level-3{
        padding-left:17%!important;
    }
    .row-tree-menu .col-level-4{
        padding-left:20%!important;
    }
    .row-tree-menu .col-level-5{
        padding-left:20%!important;
    }

    #navigation{
        display:inline-block;
        width:100%;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    #navigation span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    #navigation .icon{
        float: right;
        font-size:23px;
        color:white;    
    }
    #navigation .left{
        float: left;
        font-size:23px;
        color:white;    
    }

    /* Hierarki 1 */

    #li-jakarta:focus{
        background-color:blue;
    }

    .sidenavbar .location-container-new{
        display:inline-block;
        background-color: #2D384F;
        width:92%;
        border-radius: 5px;
        margin-right:0%!important;
        padding:4%!important;
        cursor: pointer;
    }
    .location-container-new span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white; 
        margin-top:0%!important;
        margin-bottom:0%!important;
    }
    .location-container-new .expand-icon-new{
        float: right;
        font-size:23px;
        color:#768198;    
    }


    /*Hierarki 2 */ 

    .location-container-new1{
        display:inline-block;
        background-color: #2D384F;
        width:91%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:4%!important;
        cursor: pointer;
    }
    .location-container-new1 span{
        width:85%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        padding-left:3%;
    }
    .location-container-new1 .expand-icon-new1{
        float: right;
        font-size:23px;
        color:#768198;    
    }

    /* Hierarki 3 */

    .location-container-new2{
        display:inline-block;
        background-color: #2D384F;
        width:90%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2%!important;
        padding:5%!important;
        cursor: pointer;
    }
    .location-container-new2 span{
        width:82%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:10%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new2 .expand-icon-new2{
        float: right;
        font-size:23px;
        color:#768198;
    }

    /* Hierarki 4 */

    .location-container-new3{
        display:inline-block;
        background-color: #2D384F;
        width:88%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:2.5%!important;
        padding:4.5%!important;
        cursor: pointer;
    }
    .location-container-new3 span{
        width:77%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:13%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new3 .expand-icon-new3{
        float:right;
        font-size:23px;
        color:#768198;  
        padding-left:13%!important;
    }

    /* Hierarki 5 */

    .location-container-new4{
        display:inline-block;
        background-color: #2D384F;
        width:87%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:5%!important;
        cursor: pointer;
    }
    .location-container-new4 span{
        width:76%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new4 .expand-icon-new4{
        float: right;
        font-size:23px;
        color:#768198;    
    }

    /* Hierarki 6 */

    .location-container-new5{
        display:inline-block;
        background-color: #2D384F;
        width:84%;
        border-radius: 5px;
        margin-right:0%!important;
        margin-top:3%!important;
        padding:7%!important;
        cursor: pointer;
    }
    .location-container-new5 span{
        width:74%!important;
        font-family: "Poppins-Medium";
        font-size: 14px;
        color:white;     
        margin-top:16%!important;
        margin-bottom:0%!important;
        padding-left:3%;
    }
    .location-container-new5 .expand-icon-new5{
        float: right;
        font-size:23px;
        color:#768198;    
    }

    .check-with-label:checked + label {
        color: yellow!important;
    }

    input[type=checkbox]:checked {
        color: #f00!important;
    } 

    input[type="checkbox"]:checked+label{
    background-color:#2A3E66;
    }


    /* Navigation Tree */


    input{
        font-size:1em;
    }
    ol.tree{
        padding-left:30px;
        margin-top:4%!important;
        margin-bottom:3.5%!important;
    }
    li{
        list-style-type:none;
        color:#fff;
        position:relative;
        margin-left:-15px;
    }
    li label{
        /* padding-left:37px;cursor:pointer;background:url("https://www.thecssninja.com/demo/css_tree/folder-horizontal.png") no-repeat 15px 2px;display:block; */
    }
    li input{
        width:1em;
        height:1em;
        position:absolute;
        left:-0.5em;
        top:0;
        opacity:0;
        cursor:pointer;
        
    }
    li input + ol{
        /* height:1em;margin:-16px 0 0 -44px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small-expand.png") no-repeat 40px 0; */
        
    }
    li input + label + ol > li{
        display:none;margin-left:-14px !important;padding-left:1px;
    }
    li.file{
        margin-left:-1px !important;
    }
    li.file a{
        /* display:inline-block;padding-left:21px;color:#fff;text-decoration:none;background:url("https://www.thecssninja.com/demo/css_tree/document.png") no-repeat 0 0; */
    }
    li input:checked + ol{
        /* height:auto;margin:-21px 0 0 -44px;padding:25px 0 0 80px;background:url("https://www.thecssninja.com/demo/css_tree/toggle-small.png") no-repeat 40px 5px; */
        
    }
    li input:checked + label + ol > li{
        display:block;margin:0 0 0.063em;
        
    }

    li input:checked + label > i {
        color:#6EB6FF;
    }


    li input:checked + label + ol > li:first-child{
        margin:0 0 0.125em;
    }
    /*  
    input[type="checkbox"]:checked + .sidenavbar.location-container-new{
        background-color:blue!important;
    } */
    }
 



