<html>
    <head>

    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="row">
                    <div class="col s2">
                        <!-- <button class="back-button" routerLink="/home"><i class="material-icons back-button">keyboard_arrow_left</i></button> -->
                        <a class="waves-effect waves-light btn button-back" routerLink="/home"><i class="material-icons left back-button">keyboard_arrow_left</i></a>
                    </div>
                    <div class="col s10" style="width:50%">
                        <p class="form-title">POI List</p>
                    </div>
                </div>
                <div class="row row-sub-header">
                    <div class="col s12">
                        <p class="sub-header">Keep track record of your existing POI List</p>
                    </div>            
                </div>
                <div class="row">
                    <div class="col s12">
                        <hr class="line">
                    </div>            
                </div>
            </div>
            <div class="row" style="margin-left:30%;margin-bottom:1%">
                <div class="col s11 content-search">
                    <div class="form-search-icon">  
                        <input type="text" class="validate" placeholder="Search...">
                        <i class="material-icons">search</i>
                      </div> 
                </div>
                <div class="col s1 content-filter">
                    <button class = "filter modal-trigger" data-target="filter_table">
                        <i class="material-icons icontest">filter_list</i>
                      </button>
                </div>
            </div>
            <div class="table">
                <div class="row" style="margin-bottom:1%;">
                    <div class="col s12 container-table-content">
                        <table class="responsive-table table-conatiner">
                            <thead>
                              <tr class="table-header">
                                <th style="padding-top:2%;padding-bottom:0%;width:5%">
                                    <label>
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                  </th>                                  
                                  <th>Tanggal</th>
                                  <th>Tipe POI</th>                              
                                  <th>Nama Komersial</th>
                                  <th>Versi Komersial</th>
                                  <th>Lokasi</th>
                                  <th>Status</th>
                                  <th>More</th>                              
                              </tr>
                            </thead>                
                            <tbody>
                              <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                              
                              </tr>
                              <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                              
                              </tr>
                              <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                              
                              </tr>
                              <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                              
                              </tr>
                              <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Activate</td>
                                <td>                  
                                  <a class="modal-trigger" data-target="view_poi_details">                  
                                    <i class="material-icons table-icon">remove_red_eye</i> 
                                  </a>                                                                      
                                </td>                              
                              </tr>
                              <!-- <tr class="table-content">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Open</td>
                                <td>
                                    <i class="material-icons table-icon">remove_red_eye</i>
                                    <span class="spacer"></span>
                                    <i class="material-icons table-icon">check</i>
                                </td>                            
                              </tr>
                              <tr class="table-content-row">
                                <td class="check-td">
                                    <label >
                                      <input type="checkbox" class="filled-in check" />
                                      <span style="padding:0%;"></span>
                                    </label>
                                </td>                                
                                <td>01/02/2020</td>
                                <td>Spanduk</td>  
                                <td>LA Bold</td> 
                                <td>Commercial-Adv001</td>                            
                                <td>Jakarta</td>
                                <td>Open</td>
                                <td>
                                    <i class="material-icons table-icon">remove_red_eye</i>
                                    <span class="spacer"></span>
                                    <i class="material-icons table-icon">check</i>
                                </td>                              
                              </tr> -->                                                              
                            </tbody>
                        </table>                        
                    </div>
                </div>
                <div class="row row-line">
                    <div class="col s12 line-container">
                        <hr class="line-bottom">
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <a class="waves-effect waves-light btn modal-trigger" data-target="confirmation" id="button-act" >Activate/Deactivate</a>
                    </div>
                    <div class="col s6 table-pagination">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active active-pagination" ><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                          </ul>
                    </div>                    
                </div>
            </div>
            <div class="spacer-bottom">            
            </div>
        </div>
        
        <app-filter-table-modal></app-filter-table-modal>
        <app-success-modal></app-success-modal>
        <app-confirmation-modal></app-confirmation-modal>
        <app-activate-modal></app-activate-modal>
    </body>
</html>


