.poi_detail{
    width:500px;
    height:37%;
    border-radius: 10px;
    overflow-y: hidden;
  }
  .poi_detail .content-detail-poi1{
    width:100%;


  }
  .content-detail-poi1 .header{
    font-family: "Poppins-bold";
    font-size:16px;
    padding-left:5%;
    padding-top:5%;
    margin-top:0%;
  }
  .description-form-poi1 hr{
    background-color:#BCBFC3;
    opacity:0.6;
    margin-bottom:0%!important;
  }
  .content-detail-poi1 .description-form-poi1{
    position: absolute;
    left:0%;
    width:100%;
  }
  #line{
    opacity:0.6;
    margin-bottom:0px; 
    border:4px solid #EEF1F6;
  }
  .form-title{
    font-family: "Poppins-SemiBold";
    font-size:14px!important;
    color:#17212A;
  }
  .input-form{
    background-color:#EEF1F6!important; 
    box-shadow: 0px 0px 0px!important;
    height:60px!important;
    width:95%!important;
    display: inline-block;
    border-bottom:0px solid transparent;
    margin-top:1.5%!important;
    border-radius: 7px!important;
    font-family: "Poppins-regular";
    font-size: 14px;
    border-bottom:none!important;
    padding-left:3%!important;
  }
  ::placeholder {
    color:#B3B5B8;
    font-size: 14px;
    font-family: "Poppins-regular";
  }
  .input-field input[type=text]:focus {
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 0 0 transparent;
  }
  .input-field input[type=text]:focus + label {
    color: transparent;
  }
  .description-form-poi1 .col-line{
    padding-left: 0%;
    padding-right: 0%;
  }
  .description-form-poi1 .col-footer{
    padding-left: 0%;
    padding-right: 0%;
  }
  .description-form-poi1 .footer{
    border-radius:0px 0px 7px 7px;
    background-color:#EFF4F8!important;
    height:60px;
    width:100%;
  }
  .footer #cancel{
    font-family: "Poppins-medium";
    font-size:16px;
    text-align:center;
    text-transform: capitalize;
    background-color:#C1C4CA;
    border-radius: 5px;
    width:20%;
    height:65%;
    margin:0px;
    padding-top:0.5%;
    box-shadow: 0px 0px 0px transparent;
    margin-left:50%;
  }
  .footer #confirm{
    font-family: "Poppins-SemiBold";
    font-size:16px;
    text-align:center;
    text-transform: capitalize;
    background-color:#6EB6FF;
    border-radius: 5px;
    width:20%;
    height:65%;
    margin:10px;
    padding-top:0.5%;
    box-shadow: 0px 0px 0px transparent;
  }
  .content-detail-poi1 .close{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #BCBFC3;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid #BCBFC3;
    left: 88%;
    top:9%;
  }
  .close .close-icon{
    position: absolute;
    left:0%;
    right:5%;
    bottom:0%;
    top:1%;
    font-size:23px;
    color:#ffffff;
  }