<div class="modal poi_detail" id="poi_detail" #poi_detail >
    <div class="content-detail-poi1">
      <p class="header">Complete Report</p>
        <div class="close">
          <a class="modal-close">
            <i class="material-icons close-icon">close</i>
          </a>
        </div>
        <hr>    
        <div class="description-form-poi1">
          <div class="row">
            <div class="col s12" style="padding-left:5%;">
              <label class="active form-title">Description</label>                       
            </div>
            <div class="col s12" style="padding-left:5%;">
              <textarea id="textarea1" class="materialize-textarea input-form" placeholder="Enter Description"></textarea>
            </div>                        
          </div>
          <div class="row">
            <div class="col s12 col-line">
              <hr id="line">  
            </div>
            <div class="col s12 col-footer">
              <div class="footer">
                <a class="waves-effect waves-light btn" id="cancel">Cancel</a>
                <a class="waves-effect waves-light btn modal-trigger modal-close" data-target="confirmation" id="confirm" >Submit</a>
              </div>
            </div>
          </div>
        </div>
          
        
    </div>
  </div> 