    
    <div class="modal advanced_search" id="advanced_search" #advanced_search >
        <div class="content-detail-search">
            <div class="row row-head">
                <div class="col s8 row-header">
                  <p id="font-header">Search Result</p>
                </div>
                <div class="col s4 row-header-close">
                  <div class="close">
                    <a class="modal-close">
                      <i class="material-icons close-icon">close</i>
                    </a>
                  </div>
                </div>
              </div>
              <hr id="header-line">

              <div class="container">
                <div class="row row-content-input">
                    <div class="col s12">
                        <div class="input-field form-search-icon" id="spacing-autocomplete">                    
                            <input type="text" id="autocomplete-input" class="autocomplete" placeholder="Search...">
                            <i class="material-icons" id="search-icon">search</i>                
                        </div>                    
                    </div>
                  </div>
                  <div class="row row-content-title">
                    <a class="modal-trigger modal-close" data-target="filter_map" id="hover">
                        <div class="col s12 col-chips" >
                            <div class = "spacer"></div>
                            <div class="chip chips-filter">
                            More Filter                        
                            </div>
                        </div>
                    </a>    
                </div>
                <div class="row row-content-title">
                    <div class="col s12">
                        <hr id="divider-search">
                    </div>
                </div>
                <div class="row row-content-title">
                    <div class="col s12">
                        <a class="modal-trigger modal-close" data-target="poi_details_map" id="hover">
                            <div class="row" id="row-search-recommendation">
                                <div class="col s8">
                                    <p id="title">LA Bold - Adventure Club</p>
                                    <p id="address">Pasar Kliwon Los, Jl. Jend. Sudirman No.2</p>
                                    <p id="description">Street Billboard - Ver.2</p>
                                    
                                    <label id="status-poi">
                                        <i class="material-icons status-icon">close</i>
                                        <span>Under Maintenance</span>
                                    </label>

                                </div>
                                <div class="col s4 col-picture">
                                    <div id="picture-container">
                                        <img src="../../assets/picture/Banner.jpg" alt="image" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row row-content-title">
                    <div class="col s12">
                        <hr id="divider-search">
                    </div>
                </div>
                <div class="row row-content-title">
                    <div class="col s12">
                        <div class="row" id="row-search-recommendation">
                            <div class="col s8">
                                <p id="title">LA Bold - Adventure Club</p>
                                <p id="address">Pasar Kliwon Los, Jl. Jend. Sudirman No.2</p>
                                <p id="description">Street Billboard - Ver.2</p>
                                
                                <label id="status-active-poi">
                                    <i class="material-icons status-active-icon">check</i>
                                    <span>Active</span>
                                </label>
                            </div>
                            <div class="col s4 col-picture">
                                <div id="picture-container">
                                    <img src="../../assets/picture/Banner.jpg" alt="image" style="width:100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-content-title">
                    <div class="col s12">
                        <hr id="divider-footer">
                    </div>
                </div>
                <div class="row row-content-title">
                    <div class="col s12" id="col-footer">
                        <ul class="pagination">
                            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li class="active active-pagination" ><a href="#!">1</a></li>
                            <li class="waves-effect"><a href="#!">2</a></li>
                            <li class="waves-effect"><a href="#!">3</a></li>
                            <li class="waves-effect"><a href="#!">4</a></li>
                            <li class="waves-effect"><a href="#!">5</a></li>
                            <li class="waves-effect"><a href="#!" id="chevron-right"><i class="material-icons">chevron_right</i></a></li>
                        </ul>
                    </div>
                </div>
                 
                 

               




              </div>            
        </div>
    </div>

<!-- <p id="status"><i class="material-icons">close</i>Under Maintenance</p> -->