
  <div class="modal location_poi" id="location_poi" #location_poi >
    <div class="content-detail-location">
      <div class="row row-head">
        <div class="col s8 row-header">
          <p id="font-header">Location POI</p>
        </div>
        <div class="col s4 row-header-close">
          <div class="close">
            <a class="modal-close">
              <i class="material-icons close-icon">close</i>
            </a>
          </div>
        </div>
      </div>
      <hr id="header-line">

      <div class="container">
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">RSO Area</label>
          </div>
        </div>
        <div class="row row-content-input">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose RSO</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">Area</label>
          </div>
        </div>
        <div class="row row-content-input">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose Area</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">DSO</label>
          </div>
        </div>
        <div class="row row-content-input">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose DSO</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">Daerah</label>
          </div>
        </div>
        <div class="row row-content-input">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose Daerah</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">Sub Daerah</label>
          </div>
        </div>
        <div class="row row-content-input">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose Sub Daerah</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s12">
            <label class="active" id="form-title">Sector</label>
          </div>
        </div>
        <div class="row row-content-input-last">
          <div class="col s12">
            <select class="browser-default" id="select-form" #dropdown>
              <option class="placeholder-select" value="" disabled selected>Choose Sector</option>
              <option value="1" class="option-color">Jakarta</option>
              <option value="2" class="option-color">Bandung</option>
              <option value="3" class="option-color">Semarang</option>
              <option value="3" class="option-color">Surabaya</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row row-footer">
        <div class="col s12">
          <a class="waves-effect waves-light btn modal-trigger modal-close" data-target="add_poi" id="confirm" >Submit</a>
          <a class="waves-effect waves-light btn modal-close" id="cancel">Cancel</a>            
        </div>         
      </div>
    </div>
  </div>
