  <div class="modal legend1" id="legend" #legend >
    <div class="content-detail-legend">
      <div class="row row-head">
        <div class="col s8 row-header">
          <p id="font-header">Legend</p>
        </div>
        <div class="col s4 row-header-close">
          <div class="close">
            <a class="modal-close">
              <i class="material-icons close-icon">close</i>
            </a>
          </div>
        </div>
      </div>
      <hr id="header-line">

      <div class="container">
        <div class="row row-content-title">
          <div class="col s2" id="spacing-picture">
            <i class="material-icons legend-icon">location_on</i>
          </div>
          <div class="col s10" id="spacing-content">
            <p class="form-title">Billboard</p>    
          </div>
        </div>
        <div class="row row-content-title">
          <div class="col s2" id="spacing-picture">
            <i class="material-icons legend-icon">location_on</i>
          </div>
          <div class="col s10" id="spacing-content">
            <p class="form-title">Billboard</p>    
          </div>
        </div>
      </div>
  </div>    



