<div class="modal add_poi" id="add_poi" #add_poi >
    <div class="content-detail-add">
        <div class="row row-head">
            <div class="col s8 row-header">
              <p id="font-header">Add POI</p>
            </div>
            <div class="col s4 row-header-close">
              <div class="close">
                <a class="modal-close">
                  <i class="material-icons close-icon">close</i>
                </a>
              </div>
            </div>
          </div>
          <hr id="header-line"> 

          <div class="container">
            <div class="row row-content-title">
                <div class="col s12 l12 xl6">
                    <div class="row row-carousel">
                        <div class="col s12">
                            <div class="carousel-image1" style="position:relative">
                                <a class="modal-trigger modal-close" data-target="upload_image_single" style="position:absolute;right:40px;top:15px;z-index:3;" >
                                    <div class="edit">
                                        <i class="material-icons edit-icon">create</i>
                                    </div>
                                </a> 
                                <p>No Image Uploaded</p>    
                            </div>                          
                        </div>         
                    </div>                            
                    <div id="spacer-location"></div>
                    <label class="active" id="form-title">Location</label>
                    <div id="spacer-title"></div>
                    <textarea id="textarea1" class="materialize-textarea" id="input-form-textarea" placeholder="Location"></textarea>                
                </div>

                <div class="col s12 l12 xl6">
                    <label class="active" id="form-title">POI Type</label>
                    <div id="spacer-title"></div>
                    <select class="browser-default" id="select-form" #dropdown>
                        <option class="placeholder-select" value="" disabled selected>Choose POI Type</option>
                        <option value="1" class="option-color">Jakarta</option>
                        <option value="2" class="option-color">Bandung</option>
                        <option value="3" class="option-color">Semarang</option>
                        <option value="3" class="option-color">Surabaya</option>
                      </select>
                    <div id="spacer"></div> 
                                            
                    <label class="active" id="form-title">Billboard Brand</label>
                    <div id="spacer-title"></div>
                    <select class="browser-default" id="select-form" #dropdown>
                        <option class="placeholder-select" value="" disabled selected>Billboard Brand</option>
                        <option value="1" class="option-color">Jakarta</option>
                        <option value="2" class="option-color">Bandung</option>
                        <option value="3" class="option-color">Semarang</option>
                        <option value="3" class="option-color">Surabaya</option>
                      </select>
                    <div id="spacer"></div>  

                    <label class="active" id="form-title">Billboard Type</label>
                    <div id="spacer-title"></div>
                    <select class="browser-default" id="select-form" #dropdown>
                        <option class="placeholder-select" value="" disabled selected>Billboard Type</option>
                        <option value="1" class="option-color">Jakarta</option>
                        <option value="2" class="option-color">Bandung</option>
                        <option value="3" class="option-color">Semarang</option>
                        <option value="3" class="option-color">Surabaya</option>
                    </select>
                    <div id="spacer"></div>  
                    
                    <label class="active" id="form-title">Commercial Name</label>
                    <div id="spacer-title"></div>
                    <input  type="text" class="validate input-form" placeholder="Enter Commercial Name"> 
                    <div id="spacer"></div>  
                    
                    <label class="active" id="form-title">Commercial Version</label>
                    <div id="spacer-title"></div>
                    <input  type="text" class="validate input-form" placeholder="Enter Commercial Version"> 
                    <div id="spacer"></div>  
                </div> 
            </div>
        </div>

        <div class="row row-footer">
            <div class="col s12">
              <a class="waves-effect waves-light btn modal-trigger modal-close" data-target="confirmation" id="confirm" >Submit</a>
              <a class="waves-effect waves-light btn modal-close" id="cancel">Cancel</a>            
            </div>         
          </div>
    </div>
</div>