  
  /* Filter Map */

  @media only screen and (min-width: 1200px) {
    .filter_map{
      width:30%!important;      
      border-radius: 10px;
      overflow-x: hidden;
    }
    .filter_map .content-detail-filter_map{
      width:100%;
    }
    .content-detail-filter_map .row-head{
      margin-bottom:2%!important;
    }
    .content-detail-filter_map .row-header{
      padding-left:6%;
    }
    .content-detail-filter_map .row-header-close{
      padding-right:6%;
      text-align:right;
    }
    #header-line{
      margin-bottom:0%;
    }
    .content-detail-filter_map .close{
      margin-top:10px!important;
      margin-bottom:0px!important;
      margin-right:2px;
      height: 30px;
      width: 30px;
      background-color: #BCBFC3;
      border-radius: 50%;
      display: inline-block;
      border: 4px solid #BCBFC3;
    }
    .close:hover{
      background-color:#AAAFB6!important;
      border: 4px solid #AAAFB6!important;
    }
    .close .close-icon{
      font-size:23px;
      color:#ffffff;
    }
    #font-header{
      font-family: "Poppins-bold";
      font-size:16px;
      margin-top:5%!important;
    }
    .content-detail-filter_map hr{
      background-color:#BCBFC3;
      opacity:0.6;
      margin-top:0%;
    }
    .container{
      width:100%;
      padding-top:2%;
      padding-bottom:2%;
      padding-left:4%;
      padding-right:4%;
    }
    .container .row-content-title{
      margin-bottom:0%!important;
    }
    #form-title{
      font-family: "Poppins-SemiBold";
      font-size:14px!important;
      color:#17212A;
    }
    .container .col-chips{
      width:100%;
      margin-bottom:2%;
    }
    .spacer{
      margin-top:2%;
    }
    .chips-filter{
      font-family: "Poppins-Regular";
      font-size: 14px;
      color:#969EAB;
      background-color: #EEF1F6;
      border: 1.5px solid #C6CEDC!important;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 25px;
      cursor: pointer;
      margin-left:0.5%;
      margin-right:0.5%;
      margin-bottom:1.5%;
    }

    .chips-filter-pressed{
      font-family: "Poppins-Regular";
      font-size: 14px;
      color:#969EAB;
      background-color: #E1E7F1!important;
      border:2px solid #C6CEDC;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 3%;
      padding-right: 3%;
      border-radius: 25px;
      cursor: pointer;
      margin-left:0.5%;
      margin-right:0.5%;
      margin-bottom:1.5%;
    }

    .chips-filter:hover{
      background-color: #E2E9F6!important;
      border:1.5px solid #C6CEDC;
      box-shadow: 0px 3px 6px rgba(118, 130, 183, 0.16);
    }
   
    .btn-add-brand{
      font-family: "Poppins-SemiBold";
      color:white;
      background-color: #1F70AE!important;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
      padding-left:4%;
      padding-right:6%;
      padding-top:0%;
      padding-bottom:0%;
    }
    .btn-add-brand:hover{
      background-color: #2788D2!important;
    }
    #icon-add{
      font-size:25px;
      margin-right:0%
    }
    .table-brand{
      width:100%;
      margin-top:0%;
      margin-bottom:3%;
    }
    .table-header{
      font-family:"Poppins-SemiBold";
      font-size:14px;
      color:#9AA2AD;
    }
    .table-header th{
      padding-bottom:2%;
    }
    .table-content{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content th{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content td{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content-row{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content-row td{
      padding-bottom:0%;
      padding-top:0%;
      background-color:#EEF2F7;
    }
    .table-header .check-td{
      padding-top:5%;
      padding-bottom:0%;
    }
    .table-content .table-content-check{
      padding-top:3%;
      padding-bottom:0%;
    }
    .table-content-row .table-content-row-check{
      padding-top:1%;
      padding-bottom:0%;
    }
    .check{
      padding:0%;
      width:10%;
    }
    [type=checkbox].filled-in:checked + span:not(.lever):after{
      border: 2px solid #6EB6FF;
      background-color: #6EB6FF;
    }
    [type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
      background-color: #DFE5F0;
      border: 0px solid transparent;
      border-radius: 4px;
    }
    .btn-delete{    
      font-family: "Poppins-SemiBold";
      color:white;
      background-color:#E85A5F!important;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
    }
    .btn-delete:hover{
      background-color:#F66A6F!important;
    }
    .row-footer{
      border-radius:0px 0px 7px 7px;
      background-color:#EFF4F8!important;
      padding-top:2%;
      padding-bottom:2%;
      padding-right:5%;
      padding-left:5%;
      margin-bottom:0%;
    }
    #cancel{
      font-family: "Poppins-medium";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#C1C4CA;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float: right;
    }
    #cancel:hover{
      background-color:#CDD0D6!important;
    }
    #confirm{
      font-family: "Poppins-SemiBold";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#1F70AE!important;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float:right;
      margin-left:2%;
    }
    #confirm:hover{
      background-color: #2788D2!important;
    }

    
    /* Pagination CSS */
    #col-footer{
      padding-left:0%;
      margin-bottom:3%;
      text-align:right!important;
    }
    .active-pagination{
      background-color: #6EB6FF!important;
    }
    .pagination li a{
        font-size:16px!important;
    }
    .pagination{
      margin-top:0%!important;
      margin-bottom:0%!important;
    }
    #chevron-right{
      padding-right:0%!important;
    }
  }

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .filter_map{
      width:95%;      
      border-radius: 10px;
      overflow-x: hidden;
    }
    .filter_map .content-detail-filter_map{
      width:100%;
    }
    .content-detail-filter_map .row-head{
      margin-top:1%;
      margin-bottom:1%;
    }
    .content-detail-filter_map .row-header{
      padding-left:6%;
    }
    .content-detail-filter_map .row-header-close{
      padding-right:6%;
      text-align:right;
    }
    #header-line{
      margin-top:0%;
      margin-bottom:0%;
    }
    .content-detail-filter_map .close{
      margin:10px;
      margin-bottom:8px;
      margin-right:2px;
      height: 30px;
      width: 30px;
      background-color: #BCBFC3;
      border-radius: 50%;
      display: inline-block;
      border: 4px solid #BCBFC3;
    }
    .close .close-icon{
      font-size:23px;
      color:#ffffff;
    }
    #font-header{
      font-family: "Poppins-bold";
      font-size:16px;
      margin-bottom:0%;
      margin-top:5%;
    }

    .container{
      width:100%;
      padding-top:2%;
      padding-bottom:2%;
      padding-left:4%;
      padding-right:4%;
    }
    .container .row-content-title{
      margin-bottom:2%!important;
    }
    #form-title{
      font-family: "Poppins-SemiBold";
      font-size:14px!important;
      color:#17212A;
    }
    .container .col-chips{
      width:100%;
      margin-bottom:2%;
    }
    .spacer{
      margin-top:2%;
    }
    .chips-filter{
      font-family: "Poppins-Regular";
      font-size: 14px;
      color:#969EAB;
      background-color: #EEF1F6;
      border:1px solid #C6CEDC;
    }
    .btn-add-brand{
      font-family: "Poppins-SemiBold";
      color:white;
      background-color: #6EB6FF;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
      padding-left:4%;
      padding-right:6%;
      padding-top:0%;
      padding-bottom:0%;
    }
    #icon-add{
      font-size:25px;
      margin-right:0%
    }
    .table-brand{
      width:100%;
      margin-top:0%;
      margin-bottom:3%;
    }
    .table-header{
      font-family:"Poppins-SemiBold";
      font-size:14px;
      color:#9AA2AD;
    }
    .table-header th{
      padding-bottom:2%;
    }
    .table-content{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content th{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content td{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content-row{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content-row td{
      padding-bottom:0%;
      padding-top:0%;
      background-color:#EEF2F7;
    }
    .table-header .check-td{
      padding-top:5%;
      padding-bottom:0%;
    }
    .table-content .table-content-check{
      padding-top:3%;
      padding-bottom:0%;
    }
    .table-content-row .table-content-row-check{
      padding-top:2%;
      padding-bottom:0%;
    }
    .check{
      padding:0%;
      width:10%;
    }
    [type=checkbox].filled-in:checked + span:not(.lever):after{
      border: 2px solid #6EB6FF;
      background-color: #6EB6FF;
    }
    [type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
      background-color: #DFE5F0;
      border: 0px solid transparent;
      border-radius: 4px;
    }
    .btn-delete{    
      font-family: "Poppins-SemiBold";
      color:white;
      background-color:#E85A5F;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
    }
    .row-footer{
      border-radius:0px 0px 7px 7px;
      background-color:#EFF4F8!important;
      padding-top:2%;
      padding-bottom:2%;
      padding-right:5%;
      padding-left:5%;
      margin-bottom:0%;
    }
    #cancel{
      font-family: "Poppins-medium";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#C1C4CA;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float: right;      
    }
    #confirm{
      font-family: "Poppins-SemiBold";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#6EB6FF;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float:right;
      margin-left:2%;
    }
    /* Pagination CSS */
    #col-footer{
      padding-left:0%;
      margin-bottom:3%;
      text-align:right!important;
    }
    .active-pagination{
      background-color: #6EB6FF!important;
    }
    .pagination li a{
        font-size:16px!important;
    }
    .pagination{
      margin-top:0%!important;
      margin-bottom:0%!important;
    }
    #chevron-right{
      padding-right:0%!important;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
      .filter_map{
        width:60%;      
        border-radius: 10px;
        overflow-x: hidden;
      }
      .filter_map .content-detail-filter_map{
        width:100%;
      }
      .content-detail-filter_map .row-head{
        margin-bottom:1%;
      }
      .content-detail-filter_map .row-header{
        padding-left:6%;
      }
      .content-detail-filter_map .row-header-close{
        padding-right:6%;
        text-align:right;
      }
      #header-line{
        margin-bottom:0%;
      }
      .content-detail-filter_map .close{
        margin:12px;
        margin-bottom:8px;
        margin-right:2px;
        height: 30px;
        width: 30px;
        background-color: #BCBFC3;
        border-radius: 50%;
        display: inline-block;
        border: 4px solid #BCBFC3;
      }
      .close .close-icon{
        font-size:23px;
        color:#ffffff;
      }
      #font-header{
        font-family: "Poppins-bold";
        font-size:16px;
        margin-bottom:0%;
        margin-top:6%;
      }
      .content-detail-filter_map hr{
        background-color:#BCBFC3;
        opacity:0.6;
        margin-top:0%;
      }
      .container{
        width:100%;
        padding-top:2%;
        padding-bottom:2%;
        padding-left:4%;
        padding-right:4%;
      }
      .container .row-content-title{
        margin-bottom:0%!important;
      }
      #form-title{
        font-family: "Poppins-SemiBold";
        font-size:14px!important;
        color:#17212A;
      }
      .container .col-chips{
        width:100%;
        margin-bottom:2%;
      }
      .spacer{
        margin-top:2%;
      }
      .chips-filter{
        font-family: "Poppins-Regular";
        font-size: 14px;
        color:#969EAB;
        background-color: #EEF1F6;
        border:1px solid #C6CEDC;
      }
      .btn-add-brand{
        font-family: "Poppins-SemiBold";
        color:white;
        background-color: #6EB6FF;
        border-radius:5px;
        text-transform: capitalize;
        box-shadow: 0px 0px 0px transparent;
        padding-left:4%;
        padding-right:6%;
        padding-top:0%;
        padding-bottom:0%;
      }
      #icon-add{
        font-size:25px;
        margin-right:0%
      }
      .table-brand{
        width:100%;
        margin-top:0%;
        margin-bottom:3%;
      }
      .table-header{
        font-family:"Poppins-SemiBold";
        font-size:14px;
        color:#9AA2AD;
      }
      .table-header th{
        padding-bottom:2%;
      }
      .table-content{
        font-family:"Poppins-Regular";
        font-size:14px;
        color:#17212A;
      }
      .table-content th{
        padding-bottom:1%;
        padding-top:1%;
      }
      .table-content td{
        padding-bottom:1%;
        padding-top:1%;
      }
      .table-content-row{
        font-family:"Poppins-Regular";
        font-size:14px;
        color:#17212A;
      }
      .table-content-row td{
        padding-bottom:0%;
        padding-top:0%;
        background-color:#EEF2F7;
      }
      .table-header .check-td{
        padding-top:5%;
        padding-bottom:0%;
      }
      .table-content .table-content-check{
        padding-top:3%;
        padding-bottom:0%;
      }
      .table-content-row .table-content-row-check{
        padding-top:2%;
        padding-bottom:0%;
      }
      .check{
        padding:0%;
        width:10%;
      }
      [type=checkbox].filled-in:checked + span:not(.lever):after{
        border: 2px solid #6EB6FF;
        background-color: #6EB6FF;
      }
      [type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
        background-color: #DFE5F0;
        border: 0px solid transparent;
        border-radius: 4px;
      }
      .btn-delete{    
        font-family: "Poppins-SemiBold";
        color:white;
        background-color:#E85A5F;
        border-radius:5px;
        text-transform: capitalize;
        box-shadow: 0px 0px 0px transparent;
      }
      .row-footer{
        border-radius:0px 0px 7px 7px;
        background-color:#EFF4F8!important;
        padding-top:2%;
        padding-bottom:2%;
        padding-right:5%;
        padding-left:5%;
        margin-bottom:0%;
      }
      #cancel{
        font-family: "Poppins-medium";
        font-size:16px;
        text-align:center;
        text-transform: capitalize;
        background-color:#C1C4CA;
        border-radius: 5px;
        height:65%;
        box-shadow: 0px 0px 0px transparent;
        float: right;      
      }
      #confirm{
        font-family: "Poppins-SemiBold";
        font-size:16px;
        text-align:center;
        text-transform: capitalize;
        background-color:#6EB6FF;
        border-radius: 5px;
        height:65%;
        box-shadow: 0px 0px 0px transparent;
        float:right;
        margin-left:2%;
      }
      /* Pagination CSS */
    #col-footer{
      padding-left:0%;
      margin-bottom:3%;
      text-align:right!important;
    }
    .active-pagination{
      background-color: #6EB6FF!important;
    }
    .pagination li a{
        font-size:16px!important;
    }
    .pagination{
      margin-top:0%!important;
      margin-bottom:0%!important;
    }
    #chevron-right{
      padding-right:0%!important;
    }
    }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .filter_map{
      width:55%;      
      border-radius: 10px;
      overflow-x: hidden;
    }
    .filter_map .content-detail-filter_map{
      width:100%;
    }
    .content-detail-filter_map .row-head{
      margin-bottom:1%;
    }
    .content-detail-filter_map .row-header{
      padding-left:6%;
    }
    .content-detail-filter_map .row-header-close{
      padding-right:6%;
      text-align:right;
    }
    #header-line{
      margin-bottom:0%;
    }
    .content-detail-filter_map .close{
      margin:12px;
      margin-bottom:8px;
      margin-right:2px;
      height: 30px;
      width: 30px;
      background-color: #BCBFC3;
      border-radius: 50%;
      display: inline-block;
      border: 4px solid #BCBFC3;
    }
    .close .close-icon{
      font-size:23px;
      color:#ffffff;
    }
    #font-header{
      font-family: "Poppins-bold";
      font-size:16px;
      margin-bottom:0%;
      margin-top:6%;
    }
    .content-detail-filter_map hr{
      background-color:#BCBFC3;
      opacity:0.6;
      margin-top:0%;
    }
    .container{
      width:100%;
      padding-top:2%;
      padding-bottom:2%;
      padding-left:4%;
      padding-right:4%;
    }
    .container .row-content-title{
      margin-bottom:0%!important;
    }
    #form-title{
      font-family: "Poppins-SemiBold";
      font-size:14px!important;
      color:#17212A;
    }
    .container .col-chips{
      width:100%;
      margin-bottom:2%;
    }
    .spacer{
      margin-top:2%;
    }
    .chips-filter{
      font-family: "Poppins-Regular";
      font-size: 14px;
      color:#969EAB;
      background-color: #EEF1F6;
      border:1px solid #C6CEDC;
    }
    .btn-add-brand{
      font-family: "Poppins-SemiBold";
      color:white;
      background-color: #6EB6FF;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
      padding-left:4%;
      padding-right:6%;
      padding-top:0%;
      padding-bottom:0%;
    }
    #icon-add{
      font-size:25px;
      margin-right:0%
    }
    .table-brand{
      width:100%;
      margin-top:0%;
      margin-bottom:3%;
    }
    .table-header{
      font-family:"Poppins-SemiBold";
      font-size:14px;
      color:#9AA2AD;
    }
    .table-header th{
      padding-bottom:2%;
    }
    .table-content{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content th{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content td{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content-row{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content-row td{
      padding-bottom:0%;
      padding-top:0%;
      background-color:#EEF2F7;
    }
    .table-header .check-td{
      padding-top:5%;
      padding-bottom:0%;
    }
    .table-content .table-content-check{
      padding-top:3%;
      padding-bottom:0%;
    }
    .table-content-row .table-content-row-check{
      padding-top:2%;
      padding-bottom:0%;
    }
    .check{
      padding:0%;
      width:10%;
    }
    [type=checkbox].filled-in:checked + span:not(.lever):after{
      border: 2px solid #6EB6FF;
      background-color: #6EB6FF;
    }
    [type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
      background-color: #DFE5F0;
      border: 0px solid transparent;
      border-radius: 4px;
    }
    .btn-delete{    
      font-family: "Poppins-SemiBold";
      color:white;
      background-color:#E85A5F;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
    }
    .row-footer{
      border-radius:0px 0px 7px 7px;
      background-color:#EFF4F8!important;
      padding-top:2%;
      padding-bottom:2%;
      padding-right:5%;
      padding-left:5%;
      margin-bottom:0%;
    }
    #cancel{
      font-family: "Poppins-medium";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#C1C4CA;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float: right;      
    }
    #confirm{
      font-family: "Poppins-SemiBold";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#6EB6FF;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float:right;
      margin-left:2%;
    }
    /* Pagination CSS */
    #col-footer{
      padding-left:0%;
      margin-bottom:3%;
      text-align:right!important;
    }
    .active-pagination{
      background-color: #6EB6FF!important;
    }
    .pagination li a{
        font-size:16px!important;
    }
    .pagination{
      margin-top:0%!important;
      margin-bottom:0%!important;
    }
    #chevron-right{
      padding-right:0%!important;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .filter_map{
      width:45%;      
      border-radius: 10px;
      overflow-x: hidden;
    }
    .filter_map .content-detail-filter_map{
      width:100%;
    }
    .content-detail-filter_map .row-head{
      margin-bottom:1%;
    }
    .content-detail-filter_map .row-header{
      padding-left:6%;
    }
    .content-detail-filter_map .row-header-close{
      padding-right:6%;
      text-align:right;
    }
    #header-line{
      margin-bottom:0%;
    }
    .content-detail-filter_map .close{
      margin:15px;
      margin-bottom:8px;
      margin-right:2px;
      height: 30px;
      width: 30px;
      background-color: #BCBFC3;
      border-radius: 50%;
      display: inline-block;
      border: 4px solid #BCBFC3;
    }
    .close .close-icon{
      font-size:23px;
      color:#ffffff;
    }
    #font-header{
      font-family: "Poppins-bold";
      font-size:16px;
      margin-bottom:0%;
      margin-top:6%;
    }
    .content-detail-filter_map hr{
      background-color:#BCBFC3;
      opacity:0.6;
      margin-top:0%;
    }
    .container{
      width:100%;
      padding-top:2%;
      padding-bottom:2%;
      padding-left:4%;
      padding-right:4%;
    }
    .container .row-content-title{
      margin-bottom:0%!important;
    }
    #form-title{
      font-family: "Poppins-SemiBold";
      font-size:14px!important;
      color:#17212A;
    }
    .container .col-chips{
      width:100%;
      margin-bottom:2%;
    }
    .spacer{
      margin-top:2%;
    }
    .chips-filter{
      font-family: "Poppins-Regular";
      font-size: 14px;
      color:#969EAB;
      background-color: #EEF1F6;
      border:1px solid #C6CEDC;
    }
    .btn-add-brand{
      font-family: "Poppins-SemiBold";
      color:white;
      background-color: #6EB6FF;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
      padding-left:4%;
      padding-right:6%;
      padding-top:0%;
      padding-bottom:0%;
    }
    #icon-add{
      font-size:25px;
      margin-right:0%
    }
    .table-brand{
      width:100%;
      margin-top:0%;
      margin-bottom:3%;
    }
    .table-header{
      font-family:"Poppins-SemiBold";
      font-size:14px;
      color:#9AA2AD;
    }
    .table-header th{
      padding-bottom:2%;
    }
    .table-content{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content th{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content td{
      padding-bottom:1%;
      padding-top:1%;
    }
    .table-content-row{
      font-family:"Poppins-Regular";
      font-size:14px;
      color:#17212A;
    }
    .table-content-row td{
      padding-bottom:0%;
      padding-top:0%;
      background-color:#EEF2F7;
    }
    .table-header .check-td{
      padding-top:5%;
      padding-bottom:0%;
    }
    .table-content .table-content-check{
      padding-top:3%;
      padding-bottom:0%;
    }
    .table-content-row .table-content-row-check{
      padding-top:2%;
      padding-bottom:0%;
    }
    .check{
      padding:0%;
      width:10%;
    }
    [type=checkbox].filled-in:checked + span:not(.lever):after{
      border: 2px solid #6EB6FF;
      background-color: #6EB6FF;
    }
    [type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
      background-color: #DFE5F0;
      border: 0px solid transparent;
      border-radius: 4px;
    }
    .btn-delete{    
      font-family: "Poppins-SemiBold";
      color:white;
      background-color:#E85A5F;
      border-radius:5px;
      text-transform: capitalize;
      box-shadow: 0px 0px 0px transparent;
    }
    .row-footer{
      border-radius:0px 0px 7px 7px;
      background-color:#EFF4F8!important;
      padding-top:2%;
      padding-bottom:2%;
      padding-right:5%;
      padding-left:5%;
      margin-bottom:0%;
    }
    #cancel{
      font-family: "Poppins-medium";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#C1C4CA;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float: right;      
    }
    #confirm{
      font-family: "Poppins-SemiBold";
      font-size:16px;
      text-align:center;
      text-transform: capitalize;
      background-color:#6EB6FF;
      border-radius: 5px;
      height:65%;
      box-shadow: 0px 0px 0px transparent;
      float:right;
      margin-left:2%;
    }
    /* Pagination CSS */
    #col-footer{
      padding-left:0%;
      margin-bottom:3%;
      text-align:right!important;
    }
    .active-pagination{
      background-color: #6EB6FF!important;
    }
    .pagination li a{
        font-size:16px!important;
    }
    .pagination{
      margin-top:0%!important;
      margin-bottom:0%!important;
    }
    #chevron-right{
      padding-right:0%!important;
    }
  } 














  
  